# /shelf/
# /workspace.xml
# /httpRequests/
# Datasource local storage ignored files
# /dataSources/
# /dataSources.local.xml
/copilot/chatSessions
.venv
.idea
/data/
/.vscode/
models/
Interesting Papers
/Manos GNN notes.docx
.gitattributes
Interesting Papers
/images
test.py

# Ignore everything
*

# But don't ignore Python and text files
!*.py
!*.txt
!*.md
!/GNS/wandb/

# Also don't ignore specific files
.gitignore


